/* canvas styles */
html, body {
	font:normal normal normal 100%/1.4 tahoma, sans-serif;
	background:#f9f9f9;
	color:#000;
	height: 100vh;
	width: 100vw;
}
body {
	font-size:0.8rem;
	margin: 0;
	background: linear-gradient(to right , #fff3, #Fff3),
		linear-gradient(to right , #0fe9, #F559),
		linear-gradient(to bottom, #839, #F5E);
}
header {
	padding: 0.5rem;
	line-height: 1.5rem;
	height: 2.5rem;
	box-sizing: border-box;
	border-bottom: 1px solid transparent; /*#999;*/
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}
main {
	width: 100%;
	height: calc(100% - 2.5rem - 1px);
	box-sizing: border-box;
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	overflow: auto;
}

#add-list-button {
	float: right;
	border: 1px solid #fff;
	border-radius: 5px;
	height: 1.5rem;
	width: 1.5rem;
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.3rem;
	font-weight: bold;
	box-sizing: border-box;
}
#add-list-button:hover {
	background-color: rgba(0,0,0,0.3);
}
.close-item {
	font-size: 0.5rem;
}
.add-content {
	font-size: 0.7rem;
	transform: rotate(135deg);
}
.close-memolist, .close-item, .add-content, .add-item, .add-list {
	float: right;
	cursor: pointer;
}
.memolist {
	min-width:240px;
	width:50%;
	max-width: 360px;
	max-height: 100%;
	box-sizing: border-box;
	margin:0 0.5rem 0.5rem 0;
	padding:0.5rem;
	border:2px solid #888;
	border-radius:0.2rem;
	background:#ddd;
	color:#555;
}
.page-title, .memo-title, .item-title, .item-content {
	cursor: text;
}
.page-title {
	display: inline-block;
	font-size: 1.2rem;
}
.page-title input {
	font-size: inherit;
	padding: 0 0.2rem;
}

.memo-title {
	font-size: 1.2rem;
	/*font-weight: bold;*/
}
.memo-title input {
	width: calc(100% - 1.3rem); /*0.8 pour la font-size de la croix et 0.5 pour le padding avec la croix*/
}
.item-title input {
	width: calc(100% - 1.6rem);  /*0.5 pour la font-size de la croix, 0.7 pour le crayon et 0.4 pour le padding avec la croix*/
}
textarea {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
}
input, textarea {
	box-sizing: border-box;
}

/* draggable targets */
[data-draggable="target"] {
	list-style-type:none;
	max-height: calc(100vh - 8.5rem);
	overflow-y:auto;
	box-sizing: border-box;
	margin: 0;
	padding:0.5rem;
	border:2px solid transparent;
	border-radius:0.2rem;
	color:#555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"] {
	border-color:#68b;
	background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover {
	outline:none;
	box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"] {
	display:block;
	list-style-type:none;
	padding:0.2rem 0.4rem;
	border-radius:0.2rem;
	line-height:1.3;

	background-color: #fff;
	border: 1px solid #999;
	cursor: grab;
}

/* items focus state */
[data-draggable="item"]:focus {
	outline:none;
	box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"] {
	background:#8ad;
	color:#fff;
}

/* draggable position */
[data-draggable="position"] {
	display:block;
	list-style-type:none;
	height: 0.5rem;
	border-radius: 0.2rem;
}

[data-draggable="position"][aria-dropeffect="move"] {
	background: linear-gradient(to top, transparent 40%, #68b 40%, #68b 60%, transparent 60%);
}
[data-draggable="position"][aria-dropeffect="move"].dragover {
	background: #fff;
	border: 0.2rem dotted #68b;
	margin: 0.1rem 0;
}
